{% extends "base.html" %}
{% block content %}

<div class="container-full-bg">
    <div class="jumbotron">
        <div class="container">
            <div class="row recipe-page">
                <div class="col-lg-12 mx-auto">
                    <h1 class="text-uppercase text-white">
                        <strong>Edit Recipe</strong>
                    </h1>
                    <hr class="light">
                </div>
            </div>
            <form class="needs-validation" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        {{ form.name.label(class_="text-white") }}
                        {{ form.name(class_="form-control", placeholder="Recipe Name", type="text", id="validationCustom01", autocomplete="off") }}
                        {% for message in form.name.errors %}
                        <div class="invalid text-danger">{{ message }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.description.label(class_="text-white") }}
                        {{ form.description(class_="form-control", placeholder="Recipe Description", id="validationCustom02", autocomplete="off") }}
                        {% for message in form.description.errors %}
                        <div class="invalid text-danger">{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Thêm trường image và hiển thị ảnh hiện tại -->
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        {{ form.image.label(class_="text-white") }}
                        {{ form.image(class_="form-control", id="image", accept="image/*") }}
                        {% for message in form.image.errors %}
                        <div class="invalid text-danger">{{ message }}</div>
                        {% endfor %}
                        {% if recipe.image_url %}
                            <div class="mt-2">
                                <p class="text-white">Current Image:</p>
                                <img src="{{ recipe.image_url }}" alt="{{ recipe.name }}" style="max-width: 200px; height: auto;">
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row instructions">
                    <div class="col-md-12"><label class="text-center text-white">Instructions</label></div>
                    <div class="col-md-6 mb-3" id="ins1">
                        {{ form.instruction1.label(class_="text-white") }}
                        {{ form.instruction1(class_="form-control instructionClass", placeholder="Please Enter The Instructions One At A Time", type="text", id="validationCustom03", autocomplete="off") }}
                        {% for message in form.instruction1.errors %}
                        <div class="invalid text-danger">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% for instruction in recipe.instructions[1:] %}
                    <div class="col-md-6 mb-3" id="ins{{ loop.index + 1 }}">
                        <label class="form-label text-white">Step {{ loop.index + 1 }}:</label>
                        <input name="instruction2" type="text" class="form-control instructionClass" placeholder="Please Enter The Instructions One At A Time" value="{{ instruction | safe }}" autocomplete="off">
                    </div>
                    {% endfor %}
                </div>
                <div class="form-row">
                    <div class="col-6"><button type="button" id="add-ins" name="add-more" class="btn btn-success" onclick="add_more_instructions()">+</button></div>
                    <div class="col-6"><button type="button" id="ins-remove" name="remove" class="btn btn-danger" onclick="remove_instructions()">-</button></div>
                </div>
                <br>
                <div class="form-row allergens">
                    <div class="col-md-12"><label class="text-center text-white">Allergens</label></div>
                    <div class="col-md-6 mb-3" id="allerg1">
                        {{ form.allergen1.label(class_="text-white") }}
                        {{ form.allergen1(class_="form-control allergenClass", placeholder="Please Enter Any Allergens One At A Time", type="text", id="validationCustom04", autocomplete="off") }}
                        {% for message in form.allergen1.errors %}
                        <div class="invalid text-danger">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% for allergen in recipe.allergens[1:] %}
                    <div class="col-md-6 mb-3" id="allerg{{ loop.index + 1 }}">
                        <label class="text-white">Allergen {{ loop.index + 1 }}:</label>
                        <input name="allergen2" type="text" class="form-control allergenClass" placeholder="Please Enter Any Allergens One At A Time" value="{{ allergen | safe }}" autocomplete="off">
                    </div>
                    {% endfor %}
                </div>
                <div class="form-row">
                    <div class="col-6"><button type="button" id="add-allerg" name="add-allerg" class="btn btn-success" onclick="add_more_allergens()">+</button></div>
                    <div class="col-6"><button type="button" id="allerg-remove" name="allerg-remove" class="btn btn-danger" onclick="remove_allergens()">-</button></div>
                </div>
                <br>
                <div class="form-row ingredients">
                    <div class="col-md-12"><label class="text-center text-white">Ingredients</label></div>
                    <div class="col-md-6 mb-3" id="ing1">
                        {{ form.ingredient1.label(class_="text-white") }}
                        {{ form.ingredient1(class_="form-control ingredientClass", placeholder="Please Enter The Ingredients One At A Time", type="text", id="validationCustom04", autocomplete="off") }}
                        {% for message in form.ingredient1.errors %}
                        <div class="invalid text-danger">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% for ingredient in recipe.ingredients[1:] %}
                    <div class="col-md-6 mb-3" id="ing{{ loop.index + 1 }}">
                        <label class="text-white">Ingredient {{ loop.index + 1 }}:</label>
                        <input name="ingredient2" type="text" class="form-control ingredientClass" placeholder="Please Enter The Ingredients One At A Time" value="{{ ingredient | safe }}" autocomplete="off">
                    </div>
                    {% endfor %}
                </div>
                <div class="form-row">
                    <div class="col-6"><button type="button" id="add-ing" name="add-ing" class="btn btn-success" onclick="add_more_ingredients()">+</button></div>
                    <div class="col-6"><button type="button" id="ing-remove" name="ing-remove" class="btn btn-danger" onclick="remove_ingredients()">-</button></div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        {{ form.country.label(class_="text-white") }}
                        {{ form.country(class_="form-control") }}
                        {% for message in form.country.errors %}
                        <div class="invalid text-danger">{{ message }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="readonlyAuthor" class="text-white">Author</label>
                        <input type="text" class="form-control" id="readonlyAuthor" value="{{ username }}" readonly>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <div class="form-check">
                            {{ form.is_public(class_="form-check-input", id="isPublic") }}
                            {{ form.is_public.label(class_="form-check-label text-white", for="isPublic") }}
                        </div>
                        {% for message in form.is_public.errors %}
                        <div class="invalid text-danger">{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-6"><button class="btn btn-success" type="submit" name="action">Save Changes</button></div>
                    <div class="col-6"><a class="btn btn-danger" href="{{ url_for('my_recipes', username=username) }}" name="action">Cancel</a></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/edit_recipe.js"></script>
<script>
    function make_selected() {
        $("select option[value='Choose a Country of Origin']").attr('disabled', 'disabled');
        $("select option[value='{{ recipe.country.title() | safe }}']").attr('selected', 'selected');
    }
    make_selected();
</script>
{% endblock %}